:root {
    --nav-height: 80px;
    --layout: 1280px;
}

.input {
    padding: 20px;
    margin: 10px auto;
    display: flex;
    font-size: 1.4rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

/* .container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    border: 1px solid black;
    margin-top: 100px;
} */

/* .container {
    display: grid;

    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
        'header header header'
        'main     .      .   '
        'main     .    aside '
        'footer footer footer';
} */

/* .container {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 1fr);

    grid-template:
        'header header header' 80px
        'main main aside' 350px
        'footer footer footer' 130px
        / 2fr 100px 1fr;

    grid-template-rows: 80px 350px 130px;
    grid-template-columns: 2fr 100px 1fr;
    grid-template-areas:
        'header header header'
        'main main aside'
        'footer footer footer';
} */

.container {
    overflow-y: scroll;
    height: 2000px;
    /* display: grid; */
    /* width: var(--layout); */
    /* margin: 0 auto; */
    /* grid-template-rows: 80px 1300px 130px; */
    /* grid-template-columns: 4fr 4fr 4fr;
    grid-template-areas:
        'header header header'
        'main main main'
        'section section aside'
        'footer footer footer';

    gap: 10px; */
}

:root {
    --nav-height: 80px;
    --layout: 1280px;
}
* {
    list-style-type: none;
    box-sizing: border-box;
}

.common {
    overflow-x: hidden;
}

.section_common {
    padding: 10px;
}

.header {
    grid-area: header;
    background: lightblue;
    position: fixed;
    margin: 0 auto;
    height: var(--nav-height);
    width: 100%;
    z-index: 9999;
    padding: 10px;
}

.main {
    background: lightgreen;
    display: grid;
    width: var(--layout);
    margin: 0 auto;
    margin-top: calc(var(--nav-height) + 10px);
    /* grid-template-rows: var(--nav-height); */
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-areas:
        'section1 section1 aside'
        'section2 section2 aside'
        'section3 section3 aside'
        'footer footer footer';

    gap: 10px;
}

.section1 {
    grid-area: section1;
    background: blueviolet;
}

.section2 {
    grid-area: section2;
    background: blueviolet;
}

.section3 {
    grid-area: section3;
    background: blueviolet;
}

.aside {
    grid-area: aside;
    background: lightcoral;
}
.footer {
    grid-area: footer;
    background: lightgray;
}

/* grid-area이름을 지정한다 */
/* header {
    grid-area: header;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
} */

.item {
    display: flex;
    box-sizing: border-box;
    background: lightblue;
    border: 1px solid black;
    padding: 20px;
    /* text-align: center; */
    aspect-ratio: 1/1.3;
    align-items: center;
    justify-content: center;
}
.item2 {
    display: flex;
    box-sizing: border-box;
    background: lightblue;
    border: 1px solid black;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

/* 
header {
    grid-area: header;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
} */
