.box {
    background-color: lightblue;
    color: black;
    padding: 20px;
    font-size: 16px;
}

/* 768px 이상에서는 글자색을 blue로 바꿈 */
@media (min-width: 768px) {
    .box {
        color: blue;
    }
}

/* 1024px 이상에서는 배경색을 lightgreen으로 바꿈 */
@media (min-width: 1024px) {
    .box {
        background-color: lightgreen;
    }
}

.box2 {
    background-color: lightgray;
    color: black;
    padding: 20px;
    font-size: 16px;
}

@media (min-width: 860px) {
    .box2 {
        background-color: lightgreen;
    }
}

@media (max-width: 1023px) {
    .box2 {
        width: 400px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .box2 {
        color: blue;
    }
}

.box3 {
    background-color: lightgray;
    color: black;
    padding: 20px;
    font-size: 16px;
}

@media (min-width: 860px) {
    .box3 {
        background-color: lightgreen;
    }
}

@media (max-width: 1023px) {
    .box3 {
        width: 400px;
    }
}

@media (min-width: 768px) and (max-width: 859px) {
    .box3 {
        color: blue;
        width: 400px;
    }
}

/* 860 ~ 1023 */
@media (min-width: 860px) and (max-width: 1023px) {
    .box3 {
        color: blue;
        background-color: lightgreen;
        width: 400px;
    }
}

/* @media (min-width: 860px), (min-width: 768px) and (max-width: 1023px) {
    .box2 {
        background-color: lightgreen;
        color: blue;
    }
} */

/* 768 ~ 1023 */
/* @media (min-width: 768px) and (max-width: 1023px) {
    .box2 {
        color: blue;
    }
} */
